{% extends "_layouts/layout.twig" %}

{% set background = entry.headerBackground.value %}
{% set issuesHeading = entry.issuesHeading %}
{% set issuesDescription = entry.issuesDescription %}
{% set linkListLinks = newsletter.newsletterLinks
  .eagerly()
  .collect()
  |filter(linkGroup => linkGroup.genericLink != null)
  |map(linkGroup => {
    title: linkGroup.genericLink.label,
    subheading: linkGroup.sideInfo,
    genericLink: {
      label: "See"|t,
      type: linkGroup.genericLink.type,
      url: linkGroup.genericLink.url,
      target: linkGroup.genericLink.target,
    }
  })
%}

{% set content %}
  {% include "_modules/newsletter-form" with {
    darkMode: false
  } only %}

  <div
    class="{{
    background
      in [
        "greyBackgroundBluePattern",
        "greyBackgroundPinkPattern",
        "greyBackgroundGreyPattern",
        "skyBlueBackgroundLightBluePattern"
      ]
      ? "text-gray-600"
      : "text-white"
    }}"
  >
    {% include "_rich-text/simple" with {
      text: newsletter.newsletterSecondaryText,
      size: "small"
    } only %}
  </div>
{% endset %}

{% block content %}
  {% include "_modules/headers/simple" with {
    headline: entry.headline|default(entry.title),
    intro: entry.intro,
    secondaryText: entry.secondaryText,
    content: content,
    link: entry.genericLink,
    background: background,
    alignment: entry.headerAlignment.value
  } only %}

  <div class="mt-10">
    {% if (issuesHeading|length) and (issuesDescription|length) %}
      {% include "_modules/blocks/link-list" with {
        module: {
          title: issuesHeading,
          description: issuesDescription,
          linkListLinks: linkListLinks
        }
      } only %}
    {% endif %}

    {% include "_modules/modules" with {
      entry: entry
    } %}
  </div>
{% endblock %}
