{% extends "_layouts/layout.twig" %}

{% set projectsQuery =
  craft.entries.section("projects").orderBy("title ASC").relatedTo(category)
%}
{% set indexEntry = craft.entries.section("projectsIndex").one() %}

{% paginate projectsQuery.limit(14) as pagination, projects %}

{% set categories = craft.categories.group(category.group.handle).all() %}

{% set headline = category.headline|default(category.title) %}
{% set intro = category.intro %}
{% set secondaryText = category.secondaryText %}
{% set link = category.genericLink %}

{% block content %}
  {% include "_modules/headers/simple" with {
    headline,
    intro,
    secondaryText: secondaryText,
    link,
    background: category.headerBackground.value,
    alignment: category.headerAlignment.value
  } only %}

  <div class="mt-5 mb-5 px-2 md:mt-9 md:px-5">
    <h2 class="font-surt text-head-22 md:text-head-28 mb-3 last:mb-0 md:mb-5">
      {{ "Articles"|t }}
      <span class="text-rich-blue dark:text-sky-blue">
        [{{ projectsQuery.count() }}]
      </span>
    </h2>

    {% if categories|length %}
      <div id="list">
        <h3 class="text-body-16 md:text-body-18 mb-2.5">
          {{ "Filter by category"|t }}
        </h3>

        {% include "_modules/filters" with {
          filters: categories|map(
            c => c|merge({
              url: c.url ~ "#list",
              isActive: c.id == category.id
            })
          )
        } only %}
      </div>
    {% endif %}
  </div>

  <div class="mb-10 px-2 md:px-5">
    {% if projects|length %}
      {% include "blog/_modules/teasers-list" with {
        articles: projects
      } only %}
      {% include "_modules/pagination" with {
        pagination: pagination
      } only %}
    {% else %}
      <p class="text-body-20">
        {{ "No projects found."|t }}
      </p>
    {% endif %}
  </div>

  {% if category.modules.count() > 0 %}
    {% include "_modules/modules" with {
      entry: category
    } %}
  {% else %}
    {% include "_modules/modules" with {
      entry: indexEntry
    } %}
  {% endif %}
{% endblock %}
