{% set params = craft.customQueryStringParser.getQueryParams() %}

{% set filterConfig = [
  {
    title: "Funding status"|t,
    param: "status",
    items: [
      {
        title: "Only show currently funded projects"|t,
        slug: "inFunding"
      }
    ]
  },
  {
    title: "Year Groups (from 2025)"|t,
    param: "year-group",
    items: craft.categories.group("projectYearGroups").all()
  },
  {
    title: "Rounds (2016 – 2025)"|t,
    param: "round",
    items: craft.categories.group("projectRounds").all()
  },
  {
    title: "Topics"|t,
    param: "topic",
    items: craft.categories.group("projectTopics").all()
  },
  {
    title: "Technologies"|t,
    param: "technology",
    items: craft.categories.group("projectTechnologies").all()
  },
  {
    title: "Licenses"|t,
    param: "technology",
    items: craft.categories.group("projectTechnologies").all()
  }
] %}

{% set filters = [] %}

{% for group in filterConfig %}
  {% set activeSlugs =
    craft.customQueryStringParser.getQueryParam(group.param)
  %}

  {% set items = [] %}

  {% for item in group.items %}
    {% set isActive = item.slug in activeSlugs %}

    {% set queryString =
      craft.customQueryStringParser.toQueryString(
        params|merge({
          (group.param): isActive
            ? activeSlugs|filter(value => value != item.slug)
            : activeSlugs|merge([item.slug])
        })
      )
    %}

    {% set items =
      items|merge(
        [
          {
            title: item.title,
            url: "/" ~ craft.app.request.pathInfo ~ "?" ~ queryString ~ "#list",
            isActive: isActive
          }
        ]
      )
    %}
  {% endfor %}

  {% set filters =
    filters|merge(
      [
        {
          title: group.title,
          param: group.param,
          items: items
        }
      ]
    )
  %}
{% endfor %}

{% for item in filters %}
  <div class="border-gray mb-4 border-t pt-[10px] dark:border-gray-500">
    <h3
      class="md:text-body-16 mb-2 text-[15px] text-gray-600 uppercase dark:text-white"
    >
      {{ item.title }}
    </h3>

    {% switch item.param %}
      {% case "status" %}
        {% for status in item.items %}
          {% include "_modules/checkboxes" with {
            filters: item.items
          } only %}
        {% endfor %}
      {% default %}
        {% include "_modules/filter-buttons" with {
          filters: item.items
        } only %}
    {% endswitch %}
  </div>
{% endfor %}
