<a
  class="text-ui-14 md:text-ui-16 after:bg-close dark:after:bg-close-white font-surt flex items-center gap-[10px] tracking-wider uppercase after:block after:h-[18px] after:w-[18px] after:bg-center after:bg-no-repeat after:content-['']"
  href="{{ "/" ~ craft.app.request.pathInfo }}"
>
  {{ "Reset filters"|t }}
</a>
