{% set caption = entry.caption %}

{% set content %}
  <figure>
    <div
      class="relative overflow-hidden [&>iframe]:absolute [&>iframe]:top-0 [&>iframe]:left-0 [&>iframe]:size-full"
    >
      {{ entry.embedCode|raw }}
    </div>
    {% if caption|length %}
      <figcaption
        class="text-body-12 md:text-body-13 mt-1 text-gray-800 uppercase dark:text-gray-600"
      >
        {{ caption }}
      </figcaption>
    {% endif %}
  </figure>
{% endset %}

{% include "_modules/side-heading" with {
  headline: entry.title,
  content: content
} only %}
