{% set source = entry.source %}

<div class="my-[60px] grid last:my-0 md:mt-6 md:grid-cols-16">
  <blockquote class="md:col-span-10 md:col-start-6">
    <p
      class="border-l-hot-pink font-surt text-rich-blue text-body-20 md:text-body-24 mb-3 border-l-4 pl-2.5 [hanging-punctuation:first_last] last:mb-0 md:pl-4"
    >
      “{{ entry.quote }}”
    </p>
    {% if source|length %}
      <footer class="text-gray-800">
        – <cite class="not-italic">Franklin D. Roosevelt</cite>
      </footer>
    {% endif %}
  </blockquote>
</div>
