{% set source = entry.source %}

<div class="my-[60px] last:my-0 md:mt-6 grid md:grid-cols-16">
  <blockquote class="md:col-start-6 md:col-span-10">
    <p class="mb-3 last:mb-0 border-l-4 border-l-hot-pink pl-2.5 md:pl-4 font-surt text-rich-blue text-body-20 md:text-body-24 [hanging-punctuation:first_last]">“{{ entry.quote }}”</p>
    {% if source|length %}
      <footer class="text-gray-500">– <cite class="not-italic">Franklin D. Roosevelt</cite></footer>
    {% endif %}
  </blockquote>
</div>