{% set meta = [entry.location, entry.speakers] %}
{% set link = entry.genericLink %}

<article class="border-t border-gray-600 md:last:border-b">
  <a
    class="group block pt-2 pb-3 md:grid md:grid-cols-16 md:py-6 md:pt-3"
    href="{{ link.url }}"
  >
    <div class="mb-4 md:col-span-4 md:mb-0 md:pr-4">
      <div class="mb-1 md:mb-1.5">
        {% include "_modules/date-time" with {
          date: entry.date,
          startTime: entry.startTime,
          endTime: entry.endTime
        } only %}
      </div>
    </div>

    <div class="mb-3 md:col-span-9 md:pr-4 xl:mb-0">
      <h4 class="font-surt text-head-18 md:text-head-22 mb-1 uppercase">
        {{ entry.title }}
      </h4>

      <ul class="text-body-18 flex text-gray-800">
        {% for item in meta %}
          <li
            class="flex flex-nowrap items-center pl-1.5 before:mr-1.5 before:h-[15px] before:w-[1px] before:bg-gray-600 before:content-[''] first:pl-0 first:before:hidden"
          >
            {{ item }}
          </li>
        {% endfor %}
      </ul>
    </div>

    {% if link|length %}
      <div
        class="text-right md:col-span-9 md:col-start-5 md:text-left xl:col-span-3 xl:col-start-14 xl:text-right"
      >
        {% include "_modules/button-generic-link" with {
          link: {
            label: link.label,
            type: link.type,
            element: link.element|default(null),
            value: link.value|default(null)
          }
        } only %}
      </div>
    {% endif %}
  </a>
</article>
