{% extends "_layouts/layout.twig" %}

{% set isBasicTextPage = entry.type == "basicTextPage" %}

{% set alignment = isBasicTextPage ? "center" : entry.headerAlignment.value %}

{% set text = entry.text|default(null) %}

{% block content %}
  {% include "_modules/headers/simple" with {
    headline: entry.headline|default(entry.title),
    intro: entry.intro,
    secondaryText: entry.secondaryText,
    link: entry.genericLink,
    background: entry.headerBackground.value,
    alignment: alignment
  } only %}

  {% if text|length %}
    <div class="mx-auto mt-5 max-w-[680px] px-2 md:mt-10 md:px-0">
      {% include "_rich-text/standard" with {
        text
      } only %}
    </div>
  {% endif %}

  <div class="mt-10">
    {% include "_modules/modules" with {
      entry: entry
    } %}
  </div>
{% endblock %}
