{% extends "_layouts/layout.twig" %}

{% block content %}
  {% include "_modules/headers/simple" with {
    headline: entry.headline|default(entry.title),
    intro: entry.intro,
    link: entry.genericLink,
    background: entry.headerBackground.value,
    alignment: entry.headerAlignment.value
  } only %}

  <div class="h-[50vw] text-gray-400 flex items-center justify-center">
    Generic Page
  </div>
{% endblock %}
