{% extends "_layouts/layout.twig" %}

{% set applicationDateStart = entry.applicationDateStart %}
{% set applicationDateEnd = entry.applicationDateEnd %}
{% set selectionPhaseStart = entry.selectionPhaseStart %}
{% set selectionPhaseEnd = entry.selectionPhaseEnd %}
{% set initialFundingStart = entry.initialFundingStart %}
{% set initialFundingEnd = entry.initialFundingEnd %}
{% set initialFundingAmount = entry.initialFundingAmount %}
{% set secondStageFundingStart = entry.secondStageFundingStart %}
{% set secondStageFundingEnd = entry.secondStageFundingEnd %}
{% set secondStageFundingAmount = entry.secondStageFundingAmount %}

{% set isApplicationOpen = applicationDateEnd|date('Y-m-d') >= date("now")|date('Y-m-d') %}

{% block content %}
  {% if isApplicationOpen %}
    <div class="px-1.5 py-1.5 text-center bg-light-blue text-gray-200 text-body-12 md:text-body-14 uppercase border-b border-gray-400">
      <p>{{ "Application phase is now open! Apply until {date}"|t({ date: applicationDateEnd|date })}}</p>
    </div>
  {% endif %}

  {% include "_modules/headers/simple" with {
    headline: entry.headline|default(entry.title),
    intro: entry.intro,
    secondaryText: entry.secondaryText,
    link: isApplicationOpen ? entry.genericLink,
    background: entry.headerBackground.value,
    alignment: entry.headerAlignment.value
  } only %}

  {% set content %}
    {% include "_modules/phase" with {
      headline: "Application Phase"|t,
      columns: [
        { title: "Application Period"|t, text: applicationDateStart|date ~ " – " ~ applicationDateEnd|date },
        { title: "Selection Phase"|t, text: selectionPhaseStart|date ~ " – " ~ selectionPhaseEnd|date },
      ]
    } only %}

    {% include "_modules/phase" with {
      headline: "Funding"|t,
      columns: [
        { title: "Initial funding period"|t, text: initialFundingStart|date ~ " – " ~ initialFundingEnd|date },
        { title: "Funding Amount"|t, text: initialFundingAmount },
      ]
    } only %}

    {% include "_modules/phase" with {
      headline: "Second stage funding"|t,
      columns: [
        { title: "Second stage funding period"|t, text: secondStageFundingStart|date ~ " – " ~ secondStageFundingEnd|date },
        { title: "Funding amount"|t, text: secondStageFundingAmount },
      ]
    } only %}

    <div class="mb-5 md:mb-[60px] last:mb-0">
      <h3 class="font-surt text-head-18 md:text-head-22 uppercase mb-2.5">
        {{ entry.projectsWeFundHeadline }}
      </h3>

      {% include "_rich-text/standard" with {
        text: entry.projectsWeFundText
      } only %}
    </div>

    <div class="mb-5 md:mb-[60px] last:mb-0">
      <h3 class="font-surt text-head-18 md:text-head-22 uppercase mb-2.5">
        {{ entry.fundingCriteriaHeadline }}
      </h3>

      {% include "_rich-text/standard" with {
        text: entry.fundingCriteriaText
      } only %}
    </div>
  {% endset %}

  <div class="mt-5 md:mt-10">
    {% include "_modules/side-heading" with {
      headline: entry.generalInfoHeadline|default("General Info"|t),
      content: content
    } only %}
  </div>

  <div class="mt-10">
    {% include "_modules/modules" with { entry: entry } %}
  </div>
{% endblock %}
