{% extends "_layouts/layout.twig" %}

{% block content %}
  {% include "_modules/headers/simple" with {
    headline: entry.headline|default(entry.title),
    intro: entry.intro,
    secondaryText: entry.secondaryText,
    link: entry.genericLink,
    background: entry.headerBackground.value,
    alignment: entry.headerAlignment.value
  } only %}

  <div class="mt-10">
    {% include "_modules/modules" with { entry: entry } %}
  </div>
{% endblock %}
