<aside>
  <h4 class="font-surt text-head-22 md:text-head-32 mb-2.5 md:mb-5">
    {{ "More articles like this"|t }}
  </h4>

  {% include "blog/_modules/teasers-list" with { articles: nextReads } %}
</aside>
