{% set people = module.people %}

{% if people|length %}
  <div class="mb-10 border-y border-gray-600 last:mb-0">
    {% for person in people %}
      {% set avatar = person.avatar.eagerly().one() %}
      {% set website = person.website %}
      {% set email = person.email %}
      {% set links = person.links|map(link => link.genericLink) %}

      {% if email %}
        {% set links =
          [
            {
              label: "Email"|t,
              url: "mailto:#{email}"
            }
          ]|merge(links)
        %}
      {% endif %}

      <div
        class="grid grid-cols-1 not-first:border-t not-first:border-gray-600 md:grid-cols-16 md:px-5"
      >
        <div
          class="order-2 px-2 py-[60px] pt-5 pr-12 md:order-none md:col-span-8 md:px-0 md:py-11"
        >
          {% include "_modules/person-info" with {
            person: person
          } only %}
        </div>

        <div
          class="relative flex flex-col md:col-span-7 md:col-start-10 md:border-x md:border-gray-600"
        >
          <div class="md:h-full md:w-full">
            {% if avatar|length %}
              <img
                class="block h-full w-full object-cover"
                src="{{ avatar.getUrl("avatarLarge") }}"
                alt="{{ avatar.alt }}"
              />
            {% else %}
              <div class="bg00 h-full"></div>
            {% endif %}
          </div>

          <div
            class="md:absolute md:bottom-[-1px] md:left-[-1px] md:w-[calc(100%+2px)]"
          >
            {% include "_modules/button-links" with {
              links: links,
              layout: "flex"
            } only %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
