{% set heading = module.title %}
{% set textColumnOne = module.textColumnOne %}
{% set textColumnTwo = module.textColumnTwo %}

  {% set patternBottom = [
    'after:bg-pattern-bl-light-gray-1',
    'after:min-w-12',
    'after:min-h-12',
    'after:w-[15vw]',
    'after:h-[15vw]',
    "after:content-['']",
    "after:absolute",
    "after:bg-no-repeat",
    "after:bg-contain",
    "after:left-0",
    "after:bottom-0",
  ]|join(' ') %}

  {% set patternTop = [
    'before:bg-pattern-tr-light-gray-1',
    'before:bg-top-right',
    'before:min-w-12',
    'before:min-h-16',
    'before:w-[15vw]',
    'before:h-[20vw]',
    "before:content-['']",
    "before:absolute",
    "before:bg-no-repeat",
    "before:bg-contain",
    "before:right-0",
    "before:top-0",
  ]|join(' ') %}


<section class="{{ patternBottom }} {{ patternTop }} relative py-12.5 px-2 md:px-5 bg-gray-100">
  <div class="relative z-10">
    <h2 class="font-surt text-center text-head-22 md:text-head-36 uppercase max-w-[1020px] mx-auto">{{ heading }}</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 mt-6 md:mt-23 gap-0 md:gap-11">
      {% if textColumnOne|length %}
        {% include "_rich-text/simple" with {
          text: textColumnOne,
          size: "medium"
        } only %}
      {% endif %}

      {% if textColumnTwo|length %}
        {% include "_rich-text/simple" with {
          text: textColumnTwo,
          size: "medium"
        } only %}
      {% endif %}
    </div>
  </div>
</section>



