{% set content %}
  {% for row in module.rows %}
    {% set columns = row.columns %}

    <div class="mb-5 last:mb-0 md:mb-[60px]">
      <h2 class="font-surt text-head-18 md:text-head-22 mb-2.5 uppercase">
        {{ row.title }}
      </h2>

      {% if columns|length %}
        <div class="md:grid md:grid-cols-2 md:gap-5">
          {% for column in row.columns %}
            <div class="mb-2.5 last:mb-0 md:mb-0">
              <h3
                class="md:text-head-16 mb-1 border-t border-gray-400 pt-1 text-[15px] text-gray-700 uppercase md:mb-2 dark:border-gray-600 dark:text-gray-400"
              >
                {{ column.title }}
              </h3>

              <p class="text-head-18 md:text-head-20">
                {{ column.text }}
              </p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}

  <div class="mb-5 last:mb-0 md:mb-[60px]">
    {% include "_rich-text/standard" with {
      text: module.text
    } only %}
  </div>
{% endset %}

{% include "_modules/side-heading" with {
  headline: module.title,
  content: content
} only %}
