{% set content %}
  {% for row in module.rows %}
    {% set columns = row.columns %}

    <div class="mb-5 md:mb-[60px] last:mb-0">
      <h2 class="font-surt text-head-18 md:text-head-22 uppercase mb-2.5">
        {{ row.title }}
      </h2>

      {% if columns|length %}
        <div class="md:grid md:grid-cols-2 md:gap-5">
          {% for column in row.columns %}
            <div class="mb-2.5 md:mb-0 last:mb-0">
              <h3
                class="uppercase text-[15px] md:text-head-16 pt-1 mb-1 md:mb-2 border-t border-gray-600"
              >
                {{ column.title }}
              </h3>

              <p class="text-head-18 md:text-head-20">
                {{ column.text }}
              </p>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}

  <div class="mb-5 md:mb-[60px] last:mb-0">
    {% include "_rich-text/standard" with {
      text: module.text
    } only %}
  </div>
{% endset %}

{% include "_modules/side-heading" with {
  headline: module.title,
  content: content
} only %}
