{% extends "_layouts/layout.twig" %}

{% block content %}
  {% include "_modules/headers/simple" with {
    headline: category.headline|default(category.title),
    intro: category.intro,
    secondaryText: category.secondaryText,
    link: category.genericLink,
    background: category.headerBackground.value,
    alignment: category.headerAlignment.value
  } only %}

  <div class="mt-10">
    {% include "_modules/cohorts" with {
      cohorts: [category]
    } only %}

    {% include "_modules/modules" with {
      entry: category
    } %}
  </div>
{% endblock %}
