{% extends "_layouts/layout.twig" %}

{% set headline = entry.title %}
{% set text = entry.text %}

{% set mainImage = entry.mainImage.eagerly().one() %}
{% set authorName = entry.author.name %}
{% set postDate = entry.postDate|date("short") %}

{% set nextReads = entry.nextReads.eagerly().all() %}
{% if nextReads|length == 0 %}
  {% set nextReads =  craft.entries.section('blog').id('not ' ~ entry.id).limit(3).all() %}
{% endif %}


{% block content %}
  <div class="max-w-4xl mx-auto px-2 md:px-4 lg:px-6 pb-2 md:pb-4 lg:pb-6 mt-6">
    <article>
      {% include "_rich-text/standard" with { text: "<h1>#{ headline }</h1>" } only %}
      <p class="mt-2 mb-4">Written by {{authorName}} on {{ postDate }}</p>

      {% if mainImage %}
        <div class="my-4">
          {% include "_modules/figure" with { image: mainImage, size: "textCol" } only %}
        </div>
      {% endif %}

      {% include "_rich-text/standard" with { text: text } only %}
    </article>

    {% include "blog/_modules/next-reads" with { nextReads: nextReads } %}
  </div>
{% endblock %}
