{% extends "_layouts/layout.twig" %}

{% set intro = entry.intro %}
{% set text = entry.textEntryTypes %}
{% set articleAuthor = entry.articleAuthor.one() %}

{% block content %}
  <article class="mb-10 last:mb-0">
    {% include "_modules/headers/article" with { entry } only %}

    {% if intro|length %}
      <div class="grid md:grid-cols-16 px-2 md:px-5 mt-5 md:mt-10 mb-[3.75rem]">
        <div class="md:col-start-6 md:col-span-11 lg:col-start-8 lg:col-span-9">
          {% include "_rich-text/intro" with {
            text: intro
          } only %}
        </div>
      </div>
    {% endif %}

    {% if text|length %}
      <div class="first-of-type:mt-5 md:first-of-type:mt-10">
        {% include "_rich-text/columns" with {
          text
        } only %}
      </div>
    {% endif %}

    {% if articleAuthor|length %}
      {% set avatar = articleAuthor.avatar.eagerly().one() %}
      {% set pronouns = articleAuthor.pronouns %}
      {% set bio = articleAuthor.bio %}

      <div class="grid px-2 md:grid-cols-16 md:px-5 border-gray-400 border-t md:border-t-0">
        <div class="md:col-start-6 md:col-span-11 lg:col-start-8 lg:col-span-8 pt-2.5 border-gray-400 border-t-0 md:border-t">
          {% if avatar|length %}
            <img class="mb-6 md:mb-[3.75rem]" src="{{ avatar.getUrl("avatarSmall") }}" alt="{{ avatar.altText }}">
          {% endif %}

          {% include "_modules/person-info" with {
            person: articleAuthor,
            size: "large"
          } only %}
        </div>
      </div>
    {% endif %}
  </article>

  {% include "blog/_modules/next-reads" with { entry: entry } only %}
  {% include "_modules/modules" with { entry: entry } only %}
{% endblock %}
