{% extends "_layouts/layout.twig" %}

{% set headline = entry.title %}
{% set intro = entry.intro %}
{% set text = entry.textEntryTypes %}
{% set articleAuthor = entry.articleAuthor.one() %}
{% set nextReads = entry.nextReads.eagerly().all() %}

{% if nextReads|length == 0 %}
  {% set nextReads =  craft.entries.section('blog').id('not ' ~ entry.id).limit(4).all() %}
{% endif %}

{% block content %}
  <article class="mb-[6.25rem] md:mb-14 last:mb-0">
    {% include "_modules/headers/article" with { entry } only %}

    {% if intro|length or text|length %}
      <div class="{{ [
        'grid',
        'px-2',
        'mt-10',
        'mb-10',
        'md:px-5',
        'md:grid-cols-16',
        'md:[&>*]:col-start-6',
        'md:[&>*]:col-span-11',
        'md:[&>div:not(:first-of-type)]:col-span-16',
        'md:[&>blockquote]:col-start-6',
        'md:[&>blockquote]:col-span-10',
        'lg:[&>*]:col-start-8',
        'lg:[&>*]:col-span-8',
      ]|join(' ') }}">
        {% if intro|length %}
          <div class="mb-[3.75rem]">
            {% include "_rich-text/intro" with {
              text: intro
            } only %}
          </div>
        {% endif %}

        {% if text|length %}
          {% include "_rich-text/standard" with {
            text
          } only %}
        {% endif %}
      </div>
    {% endif %}

    {% if articleAuthor|length %}
      {% set avatar = articleAuthor.avatar.eagerly().one() %}
      {% set pronouns = articleAuthor.pronouns %}
      {% set bio = articleAuthor.bio %}

      <div class="grid px-2 md:grid-cols-16 md:px-5 border-gray-400 border-t md:border-t-0">
        <div class="md:col-start-6 md:col-span-11 lg:col-start-8 lg:col-span-8 pt-2.5 border-gray-400 border-t-0 md:border-t">
          {% if avatar|length %}
            <img class="mb-6 md:mb-[3.75rem]" src="{{ avatar.getUrl("avatarSmall") }}" alt="{{ avatar.alt }}">
          {% endif %}

          <div class="flex gap-2">
            <h4 class="uppercase font-surt text-head-22 md:text-head-38 mb-3 md:mb-4">{{ articleAuthor.title  }}</h4>

            {% if pronouns|length %}
              <span class="uppercase font-surt text-head-16 md:text-head-22">{{ pronouns }}</span>
            {% endif %}
          </div>

          {% if bio|length %}
            {% include "_rich-text/simple" with {
              text: bio,
              size: "large"
            } only %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  </article>

  <div class="mb-[6.25rem] md:mb-14 px-2 md:px-5">
    {% include "blog/_modules/next-reads" with {
      nextReads,
      blogIndex
    } %}
  </div>

  {% include "_modules/modules" with { entry: entry } %}
{% endblock %}
