{% import "_macros" as macros %}
{% extends "_layouts/layout.twig" %}

{% set intro = entry.intro %}
{% set text = entry.textEntryTypes %}
{% set articleAuthor = entry.articleAuthor.one() %}

{% set date %}
  {% include "_modules/date-time" with {
    date: entry.postDate
  } only %}
{% endset %}

{% block content %}
  <article class="mb-10 last:mb-0">
    {% include "_modules/headers/image" with {
      headline: entry.title,
      image: entry.mainImage.eagerly().one(),
      backLink: {
        text: "See all articles"|t,
        url: blogIndex.url
      },
      date: date,
      categories: entry.blogCategories.all()
    } only %}

    {% if intro|length %}
      <div class="mt-5 mb-[60px] grid px-2 md:mt-10 md:grid-cols-16 md:px-5">
        <div class="md:col-span-11 md:col-start-6 lg:col-span-9 lg:col-start-8">
          {% include "_rich-text/intro" with {
            text: intro
          } only %}
        </div>
      </div>
    {% endif %}

    {% if text|length %}
      <div class="mt-5 md:mt-10">
        {% include "_rich-text/columns" with {
          text
        } only %}
      </div>
    {% endif %}

    {% if articleAuthor|length %}
      {% set image = articleAuthor.avatar.eagerly().one() %}
      {% set pronouns = articleAuthor.pronouns %}
      {% set bio = articleAuthor.bio %}

      <div
        class="border-gray grid border-t px-2 md:grid-cols-16 md:border-t-0 md:px-5"
      >
        <div
          class="border-gray border-t-0 pt-2.5 md:col-span-11 md:col-start-6 md:border-t lg:col-span-8 lg:col-start-8"
        >
          {% if image|length %}
            <img
              class="mb-6 max-w-[170px] md:mb-[60px]"
              src="{{ image.getUrl("w800__5_4") }}"
              srcSet="{{ macros.srcSetFiveByFour(image) }}"
              alt="{{ image.alt }}"
            />
          {% endif %}

          {% include "_modules/person-info" with {
            person: articleAuthor,
            size: "large"
          } only %}
        </div>
      </div>
    {% endif %}
  </article>

  {% include "_modules/modules" with {
    entry: entry
  } only %}
  {% include "blog/_modules/next-reads" with {
    entry: entry
  } only %}
{% endblock %}
