@import "tailwindcss";

@custom-variant dark (:is(.dark &):not(.print &));

@theme {
  --color-*: initial;
  --color-black: #000000;
  --color-gray-600: #eaeaeb;
  --color-gray-500: #4d4d4d;
  --color-gray-400: #aaaaaa;
  --color-gray-300: #898989;
  --color-gray-200: #141414;
  --color-gray-100: #f5f5f5;
  --color-sky-blue: #33ccff;
  --color-rich-blue: #171be5;
  --color-navy-blue: #1a0566;
  --color-dark-magenta: #7d0e8c;
  --color-pink: #ffd2f5;
  --color-hot-pink: #eb13b9;
  --color-white: #ffffff;

  --breakpoint-xxs: 420px;
  --breakpoint-xs: 576px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 2000px;
  --breakpoint-4xl: 2560px;

  --text-head-62: calc(62 / 16 * 1rem);
  --text-head-62--line-height: 1.2;
  --text-head-46: calc(46 / 16 * 1rem);
  --text-head-46--line-height: 1.2;
  --text-head-38: calc(38 / 16 * 1rem);
  --text-head-38--line-height: 1.2;
  --text-head-32: calc(32 / 16 * 1rem);
  --text-head-32--line-height: 1.2;
  --text-head-28: calc(28 / 16 * 1rem);
  --text-head-28--line-height: 1.2;
  --text-head-24: calc(24 / 16 * 1rem);
  --text-head-24--line-height: 1.2;
  --text-head-22: calc(22 / 16 * 1rem);
  --text-head-22--line-height: 1.4;
  --text-head-20: calc(20 / 16 * 1rem);
  --text-head-20--line-height: 1.2;
  --text-head-18: calc(18 / 16 * 1rem);
  --text-head-18--line-height: 1.2;
  --text-head-16: calc(16 / 16 * 1rem);
  --text-head-16--line-height: 1.2;
  --text-head-14: calc(14 / 16 * 1rem);
  --text-head-14--line-height: 1.2;

  --text-body-32: calc(32 / 16 * 1rem);
  --text-body-32--line-height: 1.4;
  --text-body-28: calc(28 / 16 * 1rem);
  --text-body-28--line-height: 1.5;
  --text-body-24: calc(24 / 16 * 1rem);
  --text-body-24--line-height: 1.5;
  --text-body-22: calc(22 / 16 * 1rem);
  --text-body-22--line-height: 1.5;
  --text-body-20: calc(20 / 16 * 1rem);
  --text-body-20--line-height: 1.5;
  --text-body-18: calc(18 / 16 * 1rem);
  --text-body-18--line-height: 1.5;
  --text-body-16: calc(16 / 16 * 1rem);
  --text-body-16--line-height: 1.5;
  --text-body-14: calc(14 / 16 * 1rem);
  --text-body-14--line-height: 1.5;
  --text-body-12: calc(12 / 16 * 1rem);
  --text-body-12--line-height: 1.5;
  --text-body-13: calc(13 / 16 * 1rem);
  --text-body-13--line-height: 1.5;

  --text-ui-16: calc(16 / 16 * 1rem);
  --text-ui-16--line-height: 1;
  --text-ui-14: calc(14 / 16 * 1rem);
  --text-ui-14--line-height: 1;
  --text-ui-13: calc(13 / 16 * 1rem);
  --text-ui-13--line-height: 1;
  --text-ui-11: calc(11 / 16 * 1rem);
  --text-ui-11--line-height: 1;

  --font-sans: "Inclusive Sans", Helvetica, Arial, sans-serif;
  --font-surt: "Surt", Helvetica, Arial, sans-serif;
  --spacing: 8px;

  --background-image-arrow-left-black: url("/static/images/icons/arrow-left-black.svg");
  --background-image-arrow-left-white: url("/static/images/icons/arrow-left-white.svg");
  --background-image-arrow-right-black: url("/static/images/icons/arrow-right-black.svg");
  --background-image-arrow-right-white: url("/static/images/icons/arrow-right-white.svg");
  --background-image-download-black: url("/static/images/icons/download-black.svg");
  --background-image-download-white: url("/static/images/icons/download-white.svg");
  --background-image-link-black: url("/static/images/icons/link-black.svg");
  --background-image-link-white: url("/static/images/icons/link-white.svg");
  --background-image-link-arrow: url("/static/images/icons/link-arrow.svg");
  --background-image-close: url("/static/images/icons/close.svg");
  --background-image-tick-white: url("/static/images/icons/tick-white.svg");
  --background-image-pattern-tr-sky-blue: url("/static/images/patterns/bg-pattern-tr-sky-blue.svg");
  --background-image-pattern-tl-sky-blue: url("/static/images/patterns/bg-pattern-tl-sky-blue.svg");
  --background-image-pattern-br-sky-blue: url("/static/images/patterns/bg-pattern-br-sky-blue.svg");
  --background-image-pattern-tr-light-blue: url("/static/images/patterns/bg-pattern-tr-light-blue.svg");
  --background-image-pattern-tl-light-blue: url("/static/images/patterns/bg-pattern-tl-light-blue.svg");
  --background-image-pattern-br-light-blue: url("/static/images/patterns/bg-pattern-br-light-blue.svg");
  --background-image-pattern-tr-hot-pink: url("/static/images/patterns/bg-pattern-tr-hot-pink.svg");
  --background-image-pattern-tl-hot-pink: url("/static/images/patterns/bg-pattern-tl-hot-pink.svg");
  --background-image-pattern-br-hot-pink: url("/static/images/patterns/bg-pattern-br-hot-pink.svg");
  --background-image-pattern-br-pink: url("/static/images/patterns/bg-pattern-br-pink.svg");
  --background-image-pattern-bl-pink: url("/static/images/patterns/bg-pattern-bl-pink.svg");
  --background-image-pattern-br-gray-1: url("/static/images/patterns/bg-pattern-br-gray-1.svg");
  --background-image-pattern-br-gray-2: url("/static/images/patterns/bg-pattern-br-gray-2.svg");
  --background-image-pattern-br-gray-3: url("/static/images/patterns/bg-pattern-br-gray-3.svg");
  --background-image-pattern-newsletter: url("/static/images/patterns/bg-pattern-newsletter.svg");
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {
    @apply min-h-screen;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  img,
  picture {
    @apply block max-w-full;
  }

  input,
  button,
  textarea,
  select {
    @apply accent-gray-500 dark:accent-gray-200;
    font: inherit;
  }

  a:not(.button) {
    @apply underline-offset-2;
  }

  :target {
    @apply scroll-my-14 md:scroll-my-36;
  }

  :focus-visible {
    @apply outline-hidden ring-8 dark:ring-4 ring-gray-500 dark:ring-gray-200;
  }

  @media print {
    a[href]:after {
      content: " (" attr(href) ")";
    }
  }
}

.text-link {
  @apply underline hover:text-gray-500;
}

:root {
  @view-transition {
    navigation: auto;
  }
  interpolate-size: allow-keywords;
}
