@import "tailwindcss";

@custom-variant dark (:is(.dark &):not(.print &));

@theme {
  --color-*: initial;
  --color-black: #000000;
  --color-gray-900: #141414;
  --color-gray-800: #1f1f1f;
  --color-gray-700: #494949;
  --color-gray-600: #4d4d4d;
  --color-gray-500: #575757;
  --color-gray-400: #737373;
  --color-gray: #aaaaaa;
  --color-gray-300: #dbdbdb;
  --color-gray-200: #eaeaeb;
  --color-gray-100: #f5f5f5;
  --color-sky-blue: #33ccff;
  --color-rich-blue: #171be5;
  --color-navy-blue: #1a0566;
  --color-navy-blue-100: #5d5190d9;
  --color-light-blue: #adeaf7;
  --color-dark-magenta: #7d0e8c;
  --color-pink: #ffd2f5;
  --color-light-pink: #f2aae2;
  --color-hot-pink: #eb13b9;
  --color-white: #ffffff;
  --color-highlighting-yellow: #fafd6f;

  --breakpoint-xxs: 420px;
  --breakpoint-xs: 576px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 2000px;
  --breakpoint-4xl: 2560px;

  --text-head-62: calc(62 / 16 * 1rem);
  --text-head-62--line-height: 1.2;
  --text-head-46: calc(46 / 16 * 1rem);
  --text-head-46--line-height: 1.2;
  --text-head-38: calc(38 / 16 * 1rem);
  --text-head-38--line-height: 1.3;
  --text-head-36: calc(36 / 16 * 1rem);
  --text-head-36--line-height: 1.3;
  --text-head-32: calc(32 / 16 * 1rem);
  --text-head-32--line-height: 1.3;
  --text-head-28: calc(28 / 16 * 1rem);
  --text-head-28--line-height: 1.3;
  --text-head-24: calc(24 / 16 * 1rem);
  --text-head-24--line-height: 1.3;
  --text-head-22: calc(22 / 16 * 1rem);
  --text-head-22--line-height: 1.4;
  --text-head-20: calc(20 / 16 * 1rem);
  --text-head-20--line-height: 1.4;
  --text-head-18: calc(18 / 16 * 1rem);
  --text-head-18--line-height: 1.35;
  --text-head-16: calc(16 / 16 * 1rem);
  --text-head-16--line-height: 1.3;
  --text-head-14: calc(14 / 16 * 1rem);
  --text-head-14--line-height: 1.35;

  --text-body-32: calc(32 / 16 * 1rem);
  --text-body-32--line-height: 1.4;
  --text-body-28: calc(28 / 16 * 1rem);
  --text-body-28--line-height: 1.5;
  --text-body-24: calc(24 / 16 * 1rem);
  --text-body-24--line-height: 1.5;
  --text-body-22: calc(22 / 16 * 1rem);
  --text-body-22--line-height: 1.5;
  --text-body-20: calc(20 / 16 * 1rem);
  --text-body-20--line-height: 1.44;
  --text-body-18: calc(18 / 16 * 1rem);
  --text-body-18--line-height: 1.5;
  --text-body-16: calc(16 / 16 * 1rem);
  --text-body-16--line-height: 1.5;
  --text-body-14: calc(14 / 16 * 1rem);
  --text-body-14--line-height: 1.5;
  --text-body-12: calc(12 / 16 * 1rem);
  --text-body-12--line-height: 1.5;
  --text-body-13: calc(13 / 16 * 1rem);
  --text-body-13--line-height: 1.5;

  --text-ui-16: calc(16 / 16 * 1rem);
  --text-ui-16--line-height: 1;
  --text-ui-14: calc(14 / 16 * 1rem);
  --text-ui-14--line-height: 1;
  --text-ui-13: calc(13 / 16 * 1rem);
  --text-ui-13--line-height: 1;
  --text-ui-12: calc(12 / 16 * 1rem);
  --text-ui-12--line-height: 1;
  --text-ui-11: calc(11 / 16 * 1rem);
  --text-ui-11--line-height: 1;

  --font-sans: "Inclusive Sans", Helvetica, Arial, sans-serif;
  --font-surt: "Surt", Helvetica, Arial, sans-serif;
  --spacing: 8px;

  --background-image-moon: url("/static/images/icons/moon.svg");
  --background-image-sun: url("/static/images/icons/sun.svg");
  --background-image-search-input: url("/static/images/icons/search-input.svg");
  --background-image-search-black: url("/static/images/icons/search-black.svg");
  --background-image-search-white: url("/static/images/icons/search-white.svg");
  --background-image-arrow-left-black: url("/static/images/icons/arrow-left-black.svg");
  --background-image-arrow-left-white: url("/static/images/icons/arrow-left-white.svg");
  --background-image-arrow-right-black: url("/static/images/icons/arrow-right-black.svg");
  --background-image-arrow-right-white: url("/static/images/icons/arrow-right-white.svg");
  --background-image-download-black: url("/static/images/icons/download-black.svg");
  --background-image-download-white: url("/static/images/icons/download-white.svg");
  --background-image-link-black: url("/static/images/icons/link-black.svg");
  --background-image-link-white: url("/static/images/icons/link-white.svg");
  --background-image-link-arrow: url("/static/images/icons/link-arrow.svg");
  --background-image-link-arrow-white: url("/static/images/icons/link-arrow-white.svg");
  --background-image-close: url("/static/images/icons/close.svg");
  --background-image-close-white: url("/static/images/icons/close-white.svg");
  --background-image-tick-white: url("/static/images/icons/tick-white.svg");
  --background-image-tick-black: url("/static/images/icons/tick-black.svg");
  --background-image-pattern-tr-sky-blue: url("/static/images/patterns/bg-pattern-tr-sky-blue.svg");
  --background-image-pattern-tl-sky-blue: url("/static/images/patterns/bg-pattern-tl-sky-blue.svg");
  --background-image-pattern-br-sky-blue: url("/static/images/patterns/bg-pattern-br-sky-blue.svg");
  --background-image-pattern-tr-light-blue: url("/static/images/patterns/bg-pattern-tr-light-blue.svg");
  --background-image-pattern-tl-light-blue: url("/static/images/patterns/bg-pattern-tl-light-blue.svg");
  --background-image-pattern-br-light-blue: url("/static/images/patterns/bg-pattern-br-light-blue.svg");
  --background-image-pattern-tr-hot-pink: url("/static/images/patterns/bg-pattern-tr-hot-pink.svg");
  --background-image-pattern-tl-hot-pink: url("/static/images/patterns/bg-pattern-tl-hot-pink.svg");
  --background-image-pattern-br-hot-pink: url("/static/images/patterns/bg-pattern-br-hot-pink.svg");
  --background-image-pattern-br-pink: url("/static/images/patterns/bg-pattern-br-pink.svg");
  --background-image-pattern-bl-pink: url("/static/images/patterns/bg-pattern-bl-pink.svg");
  --background-image-pattern-tl-gray: url("/static/images/patterns/bg-pattern-tl-gray.svg");
  --background-image-pattern-tl-dark-gray: url("/static/images/patterns/bg-pattern-tl-dark-gray.svg");
  --background-image-pattern-tr-gray: url("/static/images/patterns/bg-pattern-tr-gray.svg");
  --background-image-pattern-br-gray-1: url("/static/images/patterns/bg-pattern-br-gray-1.svg");
  --background-image-pattern-br-gray-2: url("/static/images/patterns/bg-pattern-br-gray-2.svg");
  --background-image-pattern-br-gray-3: url("/static/images/patterns/bg-pattern-br-gray-3.svg");
  --background-image-pattern-br-gray-4: url("/static/images/patterns/bg-pattern-br-gray-4.svg");
  --background-image-pattern-bl-light-gray: url("/static/images/patterns/bg-pattern-bl-light-gray.svg");
  --background-image-pattern-tr-light-gray: url("/static/images/patterns/bg-pattern-tr-light-gray.svg");
  --background-image-pattern-bl-dark-gray: url("/static/images/patterns/bg-pattern-bl-dark-gray.svg");
  --background-image-pattern-br-dark-gray-1: url("/static/images/patterns/bg-pattern-br-dark-gray-1.svg");
  --background-image-pattern-br-dark-gray-2: url("/static/images/patterns/bg-pattern-br-dark-gray-2.svg");
  --background-image-pattern-br-dark-gray-3: url("/static/images/patterns/bg-pattern-br-dark-gray-3.svg");
  --background-image-pattern-br-dark-gray-4: url("/static/images/patterns/bg-pattern-br-dark-gray-4.svg");
  --background-image-pattern-tr-dark-gray-1: url("/static/images/patterns/bg-pattern-tr-dark-gray-1.svg");
  --background-image-pattern-tr-dark-gray-2: url("/static/images/patterns/bg-pattern-tr-dark-gray-2.svg");
  --background-image-pattern-newsletter: url("/static/images/patterns/bg-pattern-newsletter.svg");
  --background-image-pixel-1: url("/static/images/pixel-1.svg");
  --background-image-pixel-2: url("/static/images/pixel-2.svg");
  --background-image-pixel-3: url("/static/images/pixel-3.svg");
  --background-image-pixel-4: url("/static/images/pixel-4.svg");
}

@layer base {
  @view-transition {
    navigation: auto;
  }

  :root {
    interpolate-size: allow-keywords;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-900, currentColor);
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {
    @apply min-h-screen;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  img,
  picture {
    @apply block max-w-full;
  }

  input,
  button,
  textarea,
  select {
    @apply accent-gray-600 dark:accent-gray-900;
    font: inherit;
  }

  a:not(.button) {
    @apply underline-offset-2;
  }

  :target {
    @apply scroll-my-14 md:scroll-my-36;
  }

  :focus-visible {
    @apply ring-highlighting-yellow ring-8 outline-hidden;
  }

  @media print {
    a[href]:after {
      content: " (" attr(href) ")";
    }
  }

  details::details-content {
    @apply overflow-hidden transition-[block-size,content-visibility] [transition-behavior:allow-discrete] duration-600 [block-size:0];
  }

  details[open]::details-content {
    @apply [transition-behavior:allow-discrete] [block-size:auto];
  }

  summary::-webkit-details-marker {
    display: none;
  }

  text-animation span {
    @apply border-hot-pink border-r-[0.05em];
    animation: caret 1s steps(1) infinite;
  }

  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
}

.pixel {
  @apply opacity-0;
}

.pixel-1 {
  @apply bg-pixel-1;
}

.pixel-2 {
  @apply bg-pixel-2;
}

.pixel-3 {
  @apply bg-pixel-3;
}

.pixel-4 {
  @apply bg-pixel-4;
}

.text-link {
  @apply underline hover:text-gray-600;
}
