@import "tailwindcss";

@custom-variant dark (:is(.dark &):not(.print &));

@theme {
  --color-*: initial;
  --color-black: #000000;
  --color-gray-600: #eaeaeb;
  --color-gray-500: #4d4d4d;
  --color-gray-400: #aaaaaa;
  --color-gray-300: #898989;
  --color-gray-200: #141414;
  --color-gray-100: #f5f5f5;
  --color-sky-blue: #49bcf2;
  --color-rich-blue: #171be5;
  --color-white: #ffffff;

  --breakpoint-xxs: 420px;
  --breakpoint-xs: 576px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 2000px;
  --breakpoint-4xl: 2560px;

  --text-head-62: calc(62 / 16 * 1rem);
  --text-head-62--line-height: 1.2;
  --text-head-32: calc(32 / 16 * 1rem);
  --text-head-32--line-height: 1.2;
  --text-head-28: calc(28 / 16 * 1rem);
  --text-head-28--line-height: 1.2;
  --text-head-24: calc(24 / 16 * 1rem);
  --text-head-24--line-height: 1.2;
  --text-head-22: calc(22 / 16 * 1rem);
  --text-head-22--line-height: 1.4;

  --text-body-24: calc(24 / 16 * 1rem);
  --text-body-24--line-height: 1.5;
  --text-body-20: calc(20 / 16 * 1rem);
  --text-body-20--line-height: 1.5;
  --text-body-18: calc(18 / 16 * 1rem);
  --text-body-18--line-height: 1.5;
  --text-body-16: calc(16 / 16 * 1rem);
  --text-body-16--line-height: 1.5;
  --text-body-14: calc(14 / 16 * 1rem);
  --text-body-14--line-height: 1.5;
  --text-body-12: calc(12 / 16 * 1rem);
  --text-body-12--line-height: 1.5;
  --text-body-13: calc(13 / 16 * 1rem);
  --text-body-13--line-height: 1.5;

  --text-ui-16: calc(16 / 16 * 1rem);
  --text-ui-16--line-height: 1;
  --text-ui-14: calc(14 / 16 * 1rem);
  --text-ui-14--line-height: 1;

  --font-sans: "Inclusive Sans", Helvetica, Arial, sans-serif;
  --font-surt: "Surt", Helvetica, Arial, sans-serif;
  --spacing: 8px;

  --background-image-close: url("/static/images/icons/close.svg");
  --background-image-tick-white: url("/static/images/icons/tick-white.svg");
  --background-image-pattern-r-blue: url("/static/images/patterns/bg-pattern-r-blue.svg");
  --background-image-pattern-r-dark-pink: url("/static/images/patterns/bg-pattern-r-dark-pink.svg");
  --background-image-pattern-r-light-pink: url("/static/images/patterns/bg-pattern-r-light-pink.svg");
  --background-image-pattern-newsletter: url("/static/images/patterns/bg-pattern-newsletter.svg");
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {
    @apply min-h-screen;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  img,
  picture {
    @apply block max-w-full;
  }

  input,
  button,
  textarea,
  select {
    @apply accent-gray-500 dark:accent-gray-200;
    font: inherit;
  }

  a:not(.button) {
    @apply underline-offset-2;
  }

  :target {
    @apply scroll-my-14 md:scroll-my-36;
  }

  :focus-visible {
    @apply outline-hidden ring-8 dark:ring-4 ring-gray-500 dark:ring-gray-200;
  }

  @media print {
    a[href]:after {
      content: " (" attr(href) ")";
    }
  }
}

.text-link {
  @apply underline hover:text-gray-500;
}
