{% extends "_layouts/layout.twig" %}

{% block content %}
  <div class="flex h-[50vw] items-center justify-center text-gray-600">
    Homepage header
  </div>

  {% include "_modules/modules" with {
    entry: entry
  } only %}
{% endblock %}
