{% extends "_layouts/layout.twig" %}

{% set description = entry.description %}
{% set link = entry.genericLink %}

{% set currentLanguage =
  craft.app.sites.currentSite.language|split("-")|last|lower
%}

{% set textConfig = {
  de: [
    {
      text: "Ideen Erproben",
      sizeStyles: "h-[102px] w-[235px] md:h-[162px] md:w-[480px] xl:h-auto xl:w-[590px]"
    },
    {
      text: "Offenheit Schaffen",
      sizeStyles: "h-[102px] w-[243px] md:h-[162px] md:w-[475px] xl:h-[202px] xl:w-[590px]"
    }
  ],
  en: [
    {
      text: "Exploring ideas",
      sizeStyles: "h-[102px] w-[280px] md:h-[162px] md:w-[480px] xl:h-auto xl:w-[590px]"
    },
    {
      text: "Fostering openness",
      sizeStyles: "h-[102px] w-[243px] md:h-[162px] md:w-[475px] xl:h-[202px] xl:w-[590px]"
    }
  ]
} %}

{% block content %}
  <div
    class="bg-rich-blue dark:bg-navy-blue relative px-2 py-5 text-white md:px-5 md:py-[60px] xl:h-[calc(100vh-146px)] xl:min-h-[700px]"
  >
    <div class="relative h-full">
      <text-animation>
        <p
          class="font-surt mb-[60px] text-[40px] leading-[1.3] uppercase md:text-[80px] md:leading-[1] xl:mb-0 xl:text-[100px] {{
          textConfig[currentLanguage][0].sizeStyles
          }}"
        >
          {{ textConfig[currentLanguage][0].text }}
        </p>

        <p
          class="font-surt mb-10 ml-auto text-right text-[40px] leading-[1.3] uppercase md:mb-[60px] md:text-[80px] md:leading-[1] xl:absolute xl:right-0 xl:bottom-0 xl:mb-0 xl:text-[100px] {{
          textConfig[currentLanguage][1].sizeStyles
          }}"
        >
          {{ textConfig[currentLanguage][1].text }}
        </p>
      </text-animation>

      {% if (description|length) or (link|length) %}
        <div
          class="relative left-0 z-[1] max-w-[489px] xl:absolute xl:bottom-0 xl:w-[489px] xl:max-w-none"
        >
          {% if description|length %}
            <div class="mb-6">
              {% include "_rich-text/simple" with {
                text: description,
                size: "large"
              } only %}
            </div>
          {% endif %}

          {% if link|length %}
            {% include "_modules/button-generic-link" with {
              link: link,
              color: "light"
            } only %}
          {% endif %}
        </div>
      {% endif %}
    </div>

    <pixel-grid>
      <div
        data-container
        class="absolute top-0 left-0 h-full w-full overflow-hidden"
      >
        <div
          data-pixel-grid
          class="absolute flex h-full w-full flex-wrap"
        ></div>
      </div>
    </pixel-grid>
  </div>

  {% include "_modules/modules" with {
    entry: entry
  } only %}
{% endblock %}
