{% extends "_layouts/layout.twig" %}

{% block content %}
  <div class="h-[50vw] text-gray-600 flex items-center justify-center">
    Homepage header
  </div>

  {% include "_modules/modules" with { entry: entry } only %}
{% endblock %}
