{% import "_macros" as macros %}

{% set projectsQuery = craft.entries.section("projects") %}

{% set projectsWithoutSecondStage =
  projectsQuery.with(["projectYearGroups"]).relatedTo({
    targetElement: craft.categories().group(
      ["projectRounds", "projectYearGroups"]
    ).endDateRegular(
      [">= " ~ (now|date("Y-m-d"))]
    )
  }).all()
%}

{# {% set projectsWithoutSecondStage = [] %} #}

{% set projectsWithSecondStage =
  projectsQuery.with(["projectYearGroups"]).secondStage(true).relatedTo({
    targetElement: craft.categories().group(
      ["projectRounds", "projectYearGroups"]
    ).endDateRegular(
      ["< " ~ (now|date("Y-m-d"))]
    ).endDateSecondStage(
      [">= " ~ (now|date("Y-m-d"))]
    )
  }).all()
%}

{% set allProjectsInFunding =
  projectsWithSecondStage|merge(projectsWithoutSecondStage)
%}

{% set uniqueIds =
  allProjectsInFunding|map(project => project.id)|unique|values
%}

{% set projects = projectsQuery.all() %}

{% for entry in craft.entries.section("projects").id(uniqueIds).all() %}
  {% set fundingStatus = macros.fundingStatus(entry) %}
  {% set round = entry.projectYearGroups.one() %}

  <h1>{{ entry.title }}</h1>

  {{ dump(fundingStatus|string) }}

  {% if round|length %}
    {{ round.title }}
  {% endif %}
{% endfor %}
