{% extends "_layouts/layout.twig" %}

{% block content %}
  <pixel-grid>
    <div
      data-container
      class="bg-rich-blue relative h-[100vh] w-full overflow-hidden"
    >
      <div data-pixel-grid class="absolute flex h-full w-full flex-wrap"></div>
    </div>
  </pixel-grid>
{% endblock %}
