{% if announcementBar.enableAnnouncementBar %}
  {% set announcementLink = announcementBar.announcementLink %}

  {% if announcementLink|length %}
    <a class="block px-1.5 py-1.5 text-center bg-light-blue text-body-12 md:text-body-14 uppercase border-b border-gray-600" href="{{ announcementLink.url }}" target="{{ announcementLink.target }}"{{ announcementLink.target == '_blank' ? 'rel="noopener noreferrer"' : '' }}>
      {{ announcementLink.label }}
    </a>
  {% endif %}
{% endif %}