{% if announcementBar.enableAnnouncementBar %}
  {% set announcementLink = announcementBar.announcementLink %}

  {% if announcementLink|length %}
    <a
      class="bg-light-blue dark:bg-rich-blue text-body-12 md:text-body-14 border-gray block border-b px-1.5 py-1.5 text-center uppercase dark:border-gray-500"
      href="{{ announcementLink.url }}"
      target="{{ announcementLink.target }}"
      {{
      announcementLink.target == "_blank"
        ? 'rel="noopener noreferrer"'
        : ""
      }}
    >
      {{ announcementLink.label }}
    </a>
  {% endif %}
{% endif %}
