{% set categories = categories|default([]) %}
{% set size = size|default("small") %}

{% set textSize = {
  small: "text-body-12 md:text-body-13",
  large: "text-body-12 md:text-body-14"
} %}

<ul class="flex flex-wrap gap-y-0.5">
  {% for category in categories %}
    <li class="uppercase text-gray-800 {{ textSize[size] }} after:pl-[5px] after:pr-1 after:content-['|'] after:text-gray-600 last:after:hidden">
      {{ category.title }}
    </li>
  {% endfor %}
</ul>