{% set categories = categories|default([]) %}
{% set size = size|default("small") %}

{% set textSize = {
  small: "text-body-12 md:text-body-13",
  large: "text-body-12 md:text-body-14"
} %}

<ul class="flex flex-wrap gap-y-0.5">
  {% for category in categories %}
    <li
      class="text-gray-700 uppercase dark:text-gray-400 {{
      textSize[size]
      }} text-gray-400 after:pr-1 after:pl-[5px] after:text-gray-400 after:content-['|'] last:after:hidden dark:after:text-gray-600"
    >
      {{ category.title }}
    </li>
  {% endfor %}
</ul>
