{% set times =
  [startTime|default(null), endTime|default(null)]|filter(
    time => time is not empty
  )
%}

<div class="@container">
  <time class="text-head-18 @3xs:flex" datetime="{{ date|date("Y-m-d") }}">
    {{ date|date("d/m/Y") }}{% if times|length %}
      <span
        class="@3xs:before:bg-gray flex items-center @3xs:pl-1.5 @3xs:before:mr-1.5 @3xs:before:h-[15px] @3xs:before:w-[1px] @3xs:before:content-[''] dark:before:bg-gray-500"
      >
        {{ times|map(time => time|date("H:i"))|join("-") }}
      </span>
    {% endif %}
  </time>
</div>
