<display-toggle
  data-light-mode-label="{{ "Light"|t }} {{ "mode"|t }}"
  data-dark-mode-label="{{ "Dark"|t }} {{ "mode"|t }}"
>
  <button
    class="text-ui-14 bg-moon dark:bg-sun h-4 cursor-pointer rounded-[20px] border border-gray-400 bg-[position:calc(100%-12px)_center] bg-no-repeat px-1.5 py-0.5 pr-4 hover:text-gray-700 md:h-3.5 dark:border-gray-500 dark:hover:text-gray-400"
  >

  </button>
</display-toggle>
