<display-toggle
  data-light-mode-label="Light mode"
  data-dark-mode-label="Dark mode"
>
  <button
    class="text-ui-14 bg-moon dark:bg-sun h-4 cursor-pointer rounded-[20px] border border-gray-600 bg-[position:calc(100%-12px)_center] bg-no-repeat px-1.5 py-0.5 pr-4 hover:text-gray-800 md:h-3.5 dark:border-[#929292] dark:hover:text-gray-600"
  >

  </button>
</display-toggle>
