{% set filters = filters|default([]) %}

<ul class="flex flex-wrap gap-1">
  {% for filter in filters %}
    <a
      class="text-body-14 rounded-[2px] border px-1 py-0.5 {{
      filter.isActive
        ? "bg-gray-900 border-gray-900 text-white"
        : "hover:bg-gray-100 border-gray-600"
      }} transition-colors active:border-gray-900 active:bg-gray-900 active:text-white"
      href="{{ filter.url }}"
    >
      {{ filter.title }}
    </a>
  {% endfor %}
</ul>
