{% set intro = intro|default(null) %}
{% set link = link|default(null) %}
{% set background = background|default(null) %}

{% switch background  %}
  {% case "greyBackgroundBluePattern" %}
    {% set bgClass = "after:bg-pattern-r-blue" %}
  {% case "greyBackgroundDarkPinkPattern" %}
    {% set bgClass = "after:bg-pattern-r-dark-pink" %}
  {% case "greyBackgroundLightPinkPattern" %}
    {% set bgClass = "after:bg-pattern-r-light-pink" %}
  {% default %}
    {% set bgClass = "after:bg-pattern-r-blue" %}
{% endswitch %}

<header class="grid grid-cols-12 lg:grid-cols-16 px-2 md:px-5 py-10 lg:py-[9.125rem] bg-gray-100 border-gray-400 border-b relative after:content-[''] after:absolute after:right-0 after:top-0 after:bottom-3 after:h-[calc(100%-24px)] {{ bgClass }} after:bg-no-repeat after:bg-right-top after:bg-contain after:w-[calc(15vw+16px)] after:md:w-[calc(15vw+40px)] after:lg:w-[calc(12vw+40px)]">
  <h1 class="font-surt col-span-11 lg:col-span-7 xl:col-span-8 text-head-32 md:text-head-62 pr-3 mb-2.5 lg:mb-0 relative z-1">{{ headline }}</h1>
  {% if intro|length or link|length %}
    <div class="max-w-64 col-span-11 lg:col-span-7 xl:col-start-9 xl:col-span-5 xl:border-0 relative z-1">
      {% if intro|length %}
        <div class="text-body-18 md:text-body-20 mb-5 last:mb-0">
          {{ intro|retcon([
            ['removeEmpty', 'p'],
            ['attr', 'a', { class: 'border-gray-400 border-sky-blue border-b'}, false],
          ])|raw }}
        </div>
      {% endif %}

      {% if link|length %}
        {{ tag('a', {
          class: 'px-[0.625rem] py-1 md:py-[0.3125rem] uppercase border-gray-400 border-l border-r font-bold text-ui-14 md:text-ui-16',
          href: link.value,
          target: link.target,
          rel: link.target == '_blank' ? 'noopener noreferrer' : null,
          text: link.label,
        }) }}
      {% endif %}
    </div>
  {% endif %}
</header>