{% set currentElement = craft.app.urlManager.matchedElement %}
{% set sites = craft.app.getSites().getGroupById(currentSite.groupId).getSites() %}
{% set languageLinks = [] %}

{% for site in sites|filter(site => site.baseUrl is not empty) %}
  {% set url = site.getBaseUrl() %}
  {% if currentElement %}
    {% set otherLocaleElement = craft.app.getElements().getElementById(currentElement.id, currentElement.className(), site.id) %}
    {% if otherLocaleElement and otherLocaleElement.enabledForSite %}
      {% set url = otherLocaleElement.url %}
    {% endif %}
  {% else %}
    {% set url = siteUrl('', '', 'https', site.id) %}
  {% endif %}

  {% set languageLinks = languageLinks|merge([{
    url: url,
    countryCode: site.language|split('-')|last|lower,
    current: site.id == currentSite.id ? true : false,
    language: site.language,
    languageName: site.name
  }]) %}
{% endfor %}

<div class="inline-flex gap-[0.125rem] uppercase text-ui-14 border-gray-400 border rounded-sm p-[0.1875rem]">
  {% for link in languageLinks %}
    <a class="rounded-[0.13rem] px-1 py-0.5 md:py-[0.125rem] md:px-[0.4375rem] transition-colors {{ link.current ? "bg-black text-white" : "text-gray-200 hover:bg-gray-100" }}" href="{{ link.url }}" tabindex="0">
      {{ link.countryCode }}
    </a>
  {% endfor %}
</div>
