{% set currentElement = craft.app.urlManager.matchedElement %}
{% set sites = craft.app.getSites().getGroupById(currentSite.groupId).getSites() %}
{% set languageLinks = [] %}

{% for site in sites|filter(site => site.baseUrl is not empty) %}
  {% set url = site.getBaseUrl() %}
  {% if currentElement %}
    {% set otherLocaleElement = craft.app.getElements().getElementById(currentElement.id, currentElement.className(), site.id) %}
    {% if otherLocaleElement and otherLocaleElement.enabledForSite %}
      {% set url = otherLocaleElement.url %}
    {% endif %}
  {% else %}
    {% set url = siteUrl('', '', 'https', site.id) %}
  {% endif %}

  {% set languageLinks = languageLinks|merge([{
    url: url,
    countryCode: site.language|split('-')|last|lower,
    current: site.id == currentSite.id ? true : false,
    language: site.language,
    languageName: site.name
  }]) %}
{% endfor %}

<div class="inline-flex gap-[2px] uppercase text-body-14 border-gray-400 border rounded-sm p-[3px]">
  {% for link in languageLinks %}
    <a class="rounded-[2px] px-1 py-[0.19rem] md:px-[7px] {{ link.current ? "bg-black text-white" : "text-gray-200" }}" href="{{ link.url }}" tabindex="0">
      {{ link.countryCode }}
    </a>
  {% endfor %}
</div>
