{% set currentElement = craft.app.urlManager.matchedElement %}
{% set sites =
  craft.app.getSites().getGroupById(currentSite.groupId).getSites()
%}
{% set languageLinks = [] %}

{% for site in sites|filter(site => site.baseUrl is not empty) %}
  {% set url = site.getBaseUrl() %}
  {% if currentElement %}
    {% set otherLocaleElement =
      craft.app.getElements().getElementById(
        currentElement.id,
        currentElement.className(),
        site.id
      )
    %}
    {% if otherLocaleElement and otherLocaleElement.enabledForSite %}
      {% set url = otherLocaleElement.url %}
    {% endif %}
  {% else %}
    {% set url = siteUrl("", "", "https", site.id) %}
  {% endif %}

  {% set languageLinks =
    languageLinks|merge(
      [
        {
          url: url,
          countryCode: site.language|split("-")|last|lower,
          current: site.id == currentSite.id ? true : false,
          language: site.language,
          languageName: site.name
        }
      ]
    )
  %}
{% endfor %}

<div
  class="text-ui-14 inline-flex h-3.5 gap-[2px] rounded-sm border border-gray-600 p-[3px] uppercase dark:border-[#929292]"
>
  {% for link in languageLinks %}
    <a
      class="rounded-[2px] px-1 py-0.5 transition-colors md:px-[7px] md:py-[2px] {{
      link.current
        ? "bg-gray-900 text-white dark:bg-white dark:text-gray-900"
        : "hover:bg-gray-100 dark:hover:text-gray-900"
      }}"
      href="{{ link.url }}"
      tabindex="0"
    >
      {{ link.countryCode }}
    </a>
  {% endfor %}
</div>
