{% if entry.modules %}
  <div class="mb-10">
  {% for module in entry.modules.all() %}
    {% switch module.type %}
      {% case 'relatedCtaBanner' %}
        {% include "_modules/blocks/cta-banner" with {
          module: module
        } only %}
      {% case 'embed' %}
        {{ module.render({ padding: true }) }}
      {% case 'newsletter' %}
        {% include "_modules/blocks/newsletter" with {
          module: module
        } only %}
      {% case 'peopleGrid' %}
        {% include "_modules/blocks/people-grid" with {
          module: module
        } only %}
      {% case 'sideHeadingText' %}
        {{ module.render({ padding: true }) }}
      {% default %}
    {% endswitch %}
  {% endfor %}
  </div>
{% endif %}
