<form class="relative mb-2.5" method="post" action="https://te917244a.emailsys1a.net/172/4365/50b2a37e1e/subscribe/form.html">
  <input class="md:h-8 px-2 md:px-3 border-gray-400 border-t border-b py-[1.125rem] pr-[9.6rem] text-body-18 text-gray-200 bg-white w-full placeholder:text-black" type="email" name="email" placeholder="{{ "Email address"|t }}" required />
  <input class="uppercase font-surt text-ui-14 text-gray-200 cursor-pointer absolute right-2 md:right-3 top-[50%] translate-y-[-50%] border-gray-400 border-l border-r px-[0.63rem] py-[0.3rem] bg-white hover:bg-black hover:text-white transition-colors" type="submit" value="{{ "Register"|t }}" />
</form>