{% set darkMode = darkMode is not defined ? true : darkMode %}

<form
  class="relative mb-2.5"
  method="post"
  action="https://te917244a.emailsys1a.net/172/4365/50b2a37e1e/subscribe/form.html"
>
  {% include "_modules/input-text" with {
    type: "email",
    name: "email",
    placeholder: "Email address"|t,
    required: true,
    darkMode: darkMode
  } only %}

  {% include "_modules/input-submit" with {
    value: "Register"|t,
    darkMode: darkMode
  } only %}
</form>
