<form
  class="relative mb-2.5"
  method="post"
  action="https://te917244a.emailsys1a.net/172/4365/50b2a37e1e/subscribe/form.html"
>
  <input
    class="text-body-18 w-full border-t border-b border-gray-600 bg-white px-2 py-[18px] pr-[153px] placeholder:text-black md:h-8 md:px-3"
    type="email"
    name="email"
    placeholder="{{ "Email address"|t }}"
    required
  />
  <input
    class="font-surt text-ui-14 absolute top-[50%] right-2 translate-y-[-50%] cursor-pointer border-r border-l border-gray-600 bg-white px-[10px] py-[5px] tracking-wider text-gray-900 uppercase transition-colors hover:bg-black hover:text-white md:right-3"
    type="submit"
    value="{{ "Register"|t }}"
  />
</form>
