{% set color = color|default("pink") %}

{% set colors = {
  pink: "bg-pink dark:bg-dark-magenta",
  gray: "bg-gray-200 dark:text-gray-900"
} %}

<div
  class="{{
  colors[color]
  }} text-ui-11 md:text-ui-13 inline-block rounded-sm px-[6px] py-[3px] uppercase md:px-1 md:py-0.5"
>
  {{ text }}
</div>
