{% set phases = phases|default([]) %}

{% if phases|length %}
  <div class="mb-3 border-t border-gray-600 pt-2.5 last:mb-0 md:mb-4">
    {% for phase in phases %}
      <div
        class="mb-2.5 border-b border-gray-600 pb-3 last:mb-0 last:border-0 last:pb-0 md:grid md:grid-cols-9 last:md:pb-3"
      >
        <div
          class="text-head-14 md:text-head-16 col-span-2 mb-1.5 pr-3 text-gray-800 md:mb-0"
        >
          {{ phase.dates }}
        </div>

        <div class="col-span-7">
          <h5 class="font-surt text-head-16 md:text-head-20 mb-1 last:mb-0">
            {{ phase.title }}
          </h5>

          {% include "_rich-text/simple" with {
            text: phase.phaseText
          } only %}
        </div>
      </div>
    {% endfor %}
  </div>

  {% include "_rich-text/standard" with {
    text: text
  } only %}
{% endif %}
