{% extends "_layouts/layout.twig" %}

{% set upcomingEvents =
  craft.entries.section("events").date(">=" ~ (now|date("Y-m-d"))).orderBy(
    "date"
  )
%}

{% set upcomingTalks =
  craft.entries.section("talks").date(">=" ~ (now|date("Y-m-d"))).orderBy(
    "date"
  )
%}

{% set pastTalks =
  craft.entries.section("talks").date("<" ~ (now|date("Y-m-d"))).orderBy(
    "date desc"
  ).limit(
    4
  )
%}

{% block content %}
  {% include "_modules/headers/simple" with {
    headline: entry.headline|default(entry.title),
    intro: entry.intro,
    secondaryText: entry.secondaryText,
    link: entry.genericLink,
    background: entry.headerBackground.value,
    alignment: entry.headerAlignment.value
  } only %}

  {% if upcomingEvents|length %}
    {% set content %}
      {% include "events/_modules/teasers-list" with {
        events: upcomingEvents
      } %}
    {% endset %}

    <div class="mt-10">
      {% include "_modules/next-reads" with {
        heading: "Upcoming Events"|t,
        count: upcomingEvents.count(),
        sideLink: {
          text: "See past events"|t,
          url: pastEventsIndex.url
        },
        content: content
      } only %}
    </div>
  {% else %}
    {% set pastEvents =
      craft.entries.section("events").date("<" ~ (now|date("Y-m-d"))).orderBy(
        "date desc"
      ).limit(
        4
      )
    %}

    {% set content %}
      {% include "events/_modules/teasers-list" with {
        events: pastEvents
      } %}
    {% endset %}

    <div class="mt-10">
      {% include "_modules/next-reads" with {
        heading: "Past Events"|t,
        count: pastEvents.count(),
        sideLink: pastEvents.count() > pastEvents.limit
          ? {
            text: "See all"|t,
            url: pastEventsIndex.url
          }
          : null,
        content: content
      } only %}
    </div>
  {% endif %}

  {% if upcomingTalks|length %}
    {% set content %}
      {% for talk in upcomingTalks %}
        {{ talk.render() }}
      {% endfor %}
    {% endset %}

    <div class="mt-10">
      {% include "_modules/next-reads" with {
        heading: "Upcoming Talks and Conferences"|t,
        count: upcomingTalks.count(),
        content: content
      } only %}
    </div>
  {% endif %}

  {% if pastTalks|length %}
    {% set content %}
      {% for talk in pastTalks %}
        {{ talk.render() }}
      {% endfor %}
    {% endset %}

    <div class="mt-10">
      {% include "_modules/next-reads" with {
        heading: "Past Talks"|t,
        count: pastTalks.count(),
        sideLink: {
          text: "See all"|t,
          url: pastEventsIndex.url ~ "#past-talks"
        },
        content: content
      } only %}
    </div>
  {% endif %}

  <div class="mt-10">
    {% include "_modules/modules" with {
      entry: entry
    } %}
  </div>
{% endblock %}
