<IfModule mod_rewrite.c>
    RewriteEngine On

    # Automatic https redirect
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

    # Redirect ptf-stage.frb.io to https://staging.prototypefund.de/
    RewriteCond %{HTTP_HOST} ^ptf\-stage\.frb\.io$
    RewriteRule ^(.*)$ https://staging.prototypefund.de/$1 [R=301,L]

    # Redirect ptf-prod.frb.io to https://www.prototypefund.de/$1
    RewriteCond %{HTTP_HOST} ^ptf\-prod\.frb\.io$
    RewriteRule ^(.*)$ https://www.prototypefund.de/$1 [R=301,L]

    # Send would-be 404 requests to Craft
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
    RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>
